/* ==========================================================================
   EXTENSIONS / HERO
   ========================================================================== */

/**
 * The Hero component provides a dominant piece of media to a page
 *
 * 1. Allows for absolute positioning of borders and content.
 * 2. Hero images set via background-image should cover and center.
 */
		.slick-slider .slick-track, .slick-slider .slick-list {
    			max-height: 400px;}
		.slick-dots { bottom: 9px;}
	.slick-dots li button:before {
		    opacity: 1;
    			color: white;
	}
	.slick-dots li.slick-active button:before{
		opacity: 1;
    		color: #1833B8;
	}
.slick-slide {
   height:400px;
}

.slick-slide img {
   height:400px;
	margin: auto;
	
  }
.x-hero {
	display: block;
	position: relative; /* [1] */
	background-position: center; /* [2] */
	background-size: cover; /* [2] */
}

.x-hero .hero-text {
	position: absolute;
	width: 100%;
	max-width: 600px;
	color: #FFF;
	left: 15%;
	top: 50%;
  transform: translate(0,-50%);
}
.x-hero .hero-text h1 {
	font-family: "Uniform-Bold";
	font-size: 84px;
	font-weight: 700;
	color: #C60001;
	line-height: 1;
}
.x-hero .hero-text h1 strong {
	display: block;
	font-family: "Uniform-Black";
	font-weight: 800;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: -0.015em;
}
.x-hero .hero-text p {
	font-family: "Uniform";
	font-size: 21px;
	line-height: 28px;
	margin-bottom: 28px;
}
.x-hero .hero-text a.hero_btn {
	font-family: "Uniform-Bold";
	font-weight: 700;
	font-size: 16px;
	line-height: 36px;
	width: 175px;
	text-align: center;
	border: 1px solid #FFFFFF;
	display: block;
	text-decoration: none;
}
.x-hero .hero-text a.hero_btn:hover {
	background: #fff;
	color: #1833B8;
}


	/**
	 * The caption overlays at the bottom of a Hero, providing space for additional
	 * content such as titles or logos.
	 */
	.x-hero__caption {
		position: absolute;
		bottom: 0;
		padding: 16px 0;
		width: 100%;
		text-shadow: 0 0 25px rgba(15, 15, 15, 0.25), 1px 1px 1px rgba(15, 15, 15, 0.5);

	}


	/**
	 * Hero video needs to be set to `display: block` to avoid spacing issues.
	 */
	.x-hero__video {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: fill;
	}


	/**
	 * Hero link inherits the Hero `color` to override anchor element styles.
	 */
	.x-hero__link {
		color: inherit;
	}


	/**
	 * As we cannot set a border property over video, borders are implemented
	 * using pseudo-elements.
	 */
	.x-hero--borders::before {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		border: calc(16px / 4) solid rgba(255, 255, 255, 0.3);
		content: "";
	}


	/**
	 * Make any other content below the Hero overlap upwards.
	 */
	.x-hero--overlap {
		margin-bottom: calc(0px - 10vh);
	}


	/**
	* If hero has overlap modifier, shift caption upwards to compensate.
	*/
	.x-hero--overlap .x-hero__caption {
		bottom: 10vh;
	}